// _variables.scss
$primary-color: #3498db;
$secondary-color: #2ecc71;
.color {
  color: $secondary-color;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-start {
  align-items: flex-start;
}
